{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <p>Je suis dans la home</p>
    <div class="row">
        {% if app.user %}
            <p>Bienvenue {{ app.user.username}}</p>
            <a href="{{ path('app_front_security_logout') }}">Se deconnecter</a>
        {% endif %}
    </div>
{% endblock %}